<h1>pins</h1>

<% @pins.each do | pin | %>

  <div class="pin">

    <p>
      <%= link_to pin.title , pin %>
    </p>

    <img src="<%= pin.img_url %>" alt="<%= pin.img_url %>" />

  </div>

<% end %>
