<p>
  <strong>Title:</strong>
  <%= @pin.title %>
</p>

<p>
  <strong>Image:</strong>
</p>

<%= image_tag @pin.img_url %>
<br>

<%= link_to 'Back', board_pins_path %>
<%= link_to 'Edit', edit_board_pin_path(@board.id, @pin) %>
